includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources\\.*#'
        - '#Call to an undefined method App\\Http\\Resources\\.*#'
        - '#Cannot call method toISOString\(\) on string#'
        - '#Cannot call method format\(\) on string#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::.*#'
        - '#Call to an undefined static method Intervention\\Image\\Laravel\\Facades\\Image::.*#'
        - '#Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection.* contains unresolvable type#'
        - '#Using nullsafe property access.*#'

